<div class="ui breadcrumb">
	<a class="section" href="/#blogs">Blogs</a>
	<i class="right arrow icon divider"></i>
	<div class="active section">{{title}}</div>
</div>
<a class="blog-button blog-edit-button ui button" data-id="{{id}}">Edit</a>
<div class="ui divider"></div>
<h1 class="blog-title">{{title}}</h1>
<div data-id="{{id}}">{{{body}}}</div>